.header
{   
    position: sticky;
    top: 0;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    border-bottom: 0.1px solid lightgray;
    padding: 10px 0;
    background-color: white;
    width: 100%;
}
.header_left{
    display: flex;
    // padding: 16px 0;
    align-items: center;
}
.burger ul{
    padding: 0 10px;
    cursor: pointer;
}
.burger ul li{
        border-bottom: solid 3px black;
        text-decoration: none;
        width: 20px;
        list-style-type: none; 
        margin-top: 4px;
}
.header_search{
    padding: 10px;
    display: flex;
    align-items: center;
    border-radius: 30px;
    height:  16px;
    color: #555b6d;
    background-color: #f3f3f9;
}

.header_search > input{
    outline: none;
    border: none;
    background: none;
    color: #555b6d;
  
}
.header_right{
    display: flex;
    margin-right: 2%;
}

.header_right :link{
 
    text-decoration: none;
}