.header_option{
    display: flex;
    flex-direction: row;
    align-items:left;
    color: grey;
    cursor: pointer;
    color: #555b6d;
   

    .header_option_title{
        font-size: 16px;
        font-weight: 400;
        margin-left: 20px;
        color: #555b6d;
 

    }
    .header_option_icon{
        object-fit: contain;
        height: 25px !important;
        width: 25px !important;
    }
}


