@import "src/styles/utilities/variable";

// $backgroundBase: #f3f3f9;

// $IndexlistSize: 14px;
// $Indexlistcolor: #495057;
// $Indexlistweight:  600;

// $IndexResultSize: 13px;

.user_details{
    background-color: $backgroundBase;
 
    h2{
        font-size: 16px;
        font-weight: $Indexlistweight;
        text-transform: uppercase;
        padding-top: 1.25rem;
        padding-left: 1.25rem;
        color: $Indexlistcolor;
    }
    .card_body{
        margin: 1.25rem;
        padding: 10px;
        flex: 1 1 auto;
        background-color: white;

        .search_bar{
    margin: 15px;
    padding: 10px;
    display: flex;
    align-items: center;
    border-radius: 30px;
    border: 0.3px solid lightgray;
    height:  16px;
    color: #555b6d;
    background-color: $backgroundBase;
    max-width: 20%;

    input{
        outline: none;
        border: none;
        background: none;
        color: #555b6d;
      
    }
}
    
    }
}




.avatar{
    height: 25px;
    width: 25px;
    border-radius: 50% !important;
    object-fit: contain;

}
thead{
    width: 100%;
    border-bottom: 2px solid rgba(211, 211, 211, 0.500);

}

.list_body_row:hover{
    background-color: $backgroundBase;
    cursor: pointer;
}
tr{
    

    display: table-row;
    vertical-align: center;
    border-bottom: 0.3px solid rgba(211, 211, 211, 0.500
    );

}

table{
    width: 100%;
    border-collapse: collapse;
}
th{
   
    text-align: left;
    color:  $Indexlistcolor;
    font-size: 13px;
    width: fit-content;
    font-weight: 600;
    
    .sortable{
   
        vertical-align: center;
    }
}



table>:not(caption)>*>*{
    padding: 0.75rem;
    border-bottom-width: 1px;
   
}
a{
    font-size: 14px;
    font-weight: 600;
    color: #343A40;
    text-decoration: none;
}

p{
    font-size: $IndexResultSize;
    font-weight: 400;
    color: #74788D;
}
td{
    font-size: $IndexResultSize;
    color: $Indexlistcolor;
    padding: 12px;
}
.dropup path{
color: grey;
}
.order{
    padding-top: 10px;
    margin-top: 10px;
}
.dropup svg{
    height: 20px;
    width: 20px;
    cursor: pointer;


}
.dropdown svg{
    height: 20px;
    width: 20px;
cursor: pointer;
}
.order{
    margin: 0;
}

