
$backgroundBase: #f3f3f9;
$FontBase: 'Poppins', sans-serif;

$cardColor: white;

$IndexlistSize: 14px;
$Indexlistcolor: #495057;
$Indexlistweight:  600;

$IndexResultSize: 13px;


$BoxShadow: 1px 9px 50px -5px rgba(0, 0, 0, 0.315);


